{% extends 'base.html.twig' %}
{% block title %}
    Add lost item |
    {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

    <div id="map" style="width: 1200px; height: 800px"></div>>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('js/map_lost.js') }}"></script>
{% endblock javascripts %}