{% extends 'base.html.twig' %}

{% set title = 'F.A.Q.' %}

{% block title %}{{ title }} | {{ parent() }}{% endblock title %}

{% block content %}
    <h1>F.A.Q.</h1>

    <div>
        <dl>
            {#{% if locale != 'en' %}#}
                {#{% for item in faq %}#}
                    {#<dt>{{ item.content }}</dt>#}
                {#{% endfor %}#}
            {#{% else %}#}
                {% for item in faq %}
                    <dt>{{ item.question }}</dt>
                    <dd>{{ item.answer }}</dd><br>
                {% endfor %}
            {#{% endif %}#}
        </dl>
    </div>
{% endblock content %}
