{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
    <h1>Lost and Found</h1>
    <div class="add-lost-found-item">
        <p><a href="{{ path('add_lost_item') }}">Add lost item</a></p>
        <p><a href="{{ path('add_found_item') }}">Add found item</a></p>
    </div>

    <br />

    <div>
        <div>
            <div id="map" class="map" data-items="{{ found_points|json_encode() }}"></div>
        </div>

        <div class="lost-and-found-items-div">
            <h2>Someone found these items:</h2>
            {% for item in found_items %}
                <ul>
                    <li>
                        <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
                    </li>
                </ul>
            {% endfor %}

            <h2>Someone lost these items</h2>
            {% for item in lost_items %}
                <ul>
                    <li>
                        <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock javascripts %}
