{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock javascripts %}

{% block content %}
    <h1>{{ 'index.header' | trans({}, 'main-page')}}</h1>
    <div>
        <p>
            {{ 'index.blockquote-1' | trans({}, 'main-page')}}
        </p>
        <div class="index-description">
            <blockquote class="blockquote-reverse">
                {{ 'index.blockquote-2' | trans({}, 'main-page')}}
            </blockquote>
        </div>
        <div class="well">
            {{ 'index.description' | trans({}, 'main-page')}}
        </div>
        <div>
            <a href="{{ path('add_lost_item') }}" class="btn btn-danger" title="Add an item you've lost">{{ 'index.lost-button' | trans({}, 'main-page')}}</a>
            &nbsp;
            <a href="{{ path('add_found_item') }}" class="btn btn-success" title="Add an item you've found">{{ 'index.found-button' | trans({}, 'main-page')}}</a>
        </div>
    </div>
{% endblock content %}
