{% extends 'base.html.twig' %}

{% block title %}{{ 'lost-items.title' | trans({}, 'main-page')}}. | {{ parent() }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('lib/leaflet-draw/leaflet.draw.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('lib/leaflet-draw/leaflet.draw.js') }}"></script>
    <script src="{{ asset('js/map_lost.js') }}"></script>
    <script src="{{ asset('js/add_image_photos.js') }}"></script>
{% endblock javascripts %}

{% block content %}
    <h1>{{ 'lost-items.header2' | trans({}, 'main-page')}}</h1>

    <div>
        {{ form_start(form) }}
            <div class="half-form">
                {{ form_errors(form) }}

                <div class="half-category">
                    {{ form_row(form.category) }}
                </div>
                <div class="half-date">
                    {{ form_row(form.date) }}
                </div>
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.photos) }}
            </div>

            <div class="map-block">
                <label for="map">{{ 'Map'|trans({}, 'main-page') }}</label>
                <div id="map"></div>
            </div>
        {{ form_end(form) }}
    </div>

    <div class="type" hidden="hidden" data-type="{{ pageType }}"></div>
{% endblock content %}
