{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
{% endblock stylesheets %}

{% set title = 'Found items' %}

{% block title %}{{ title }} | {{ parent() }}{% endblock title %}

{% block content %}
    {#<h1>{{ 'found-items.header' | trans({}, 'main-page')}}</h1>#}

    {#<div class="nav-list-panel">#}
    {#<div class="btn-group pull-left" data-toggle="buttons">#}
    {#{% for category in categories %}#}
    {#<label class="btn btn-primary">#}
    {#<input id="category_{{ category.title }}" data-category-id="{{ category.id }}" type="checkbox" autocomplete="off" />{{ category.title }}#}
    {#</label>#}
    {#{% endfor %}#}
    {#</div>#}

    {#<div class="pull-right">#}
    {#<a href="{{ path('add_found_item') }}" class="btn btn-success" title="Add an item you've found">#}
    {#{{ 'found-items.found-button' | trans({}, 'main-page')}}#}
    {#</a>#}
    {#</div>#}
    {#</div>#}

    {#<div class="pull-left">#}
    {#<ul id="items"></ul>#}
    {#</div>#}

    {#<div class="clearfix"></div>#}

    {#<div id="map" style="width: auto; height: 800px"></div>#}

    <div>
        <div class="pull-left">
            <h1>{{ 'found-items.header' | trans({}, 'main-page') }}</h1>
        </div>

        <div class="pull-right" style="margin-top: 2%">
            <a href="{{ path('add_found_item') }}" class="btn btn-success" title="Add an item you've found">
                {{ 'found-items.found-button' | trans({}, 'main-page') }}
            </a>
        </div>
    </div>

    <br/><br/><br/><br/>

    <div>
        <div class="pull-left">
            {{ form_start(form) }}
            <div id="categories">
                {% for category in form.categories %}
                    {{ form_widget(category, {
                        'attr' : {
                            'data-category-id' : category.vars['label'].id
                        }
                    }) }}
                {% endfor %}
            </div>
            {{ form_row(form.from) }}
            {{ form_row(form.to) }}
            {{ form_row(form.filter) }}
            {{ form_end(form) }}
        </div>

        <div class="pull-right map-block" style="width: 80%">
            <div id="map" style="margin-bottom: 2%"></div>
        </div>

        <div class="clearfix"></div>

        <div class="panel panel-default">
            <table class="table">
                <thead style="background-color: #3c9a5f; color: #ffffff;">
                <tr>
                    <th>{{ 'found-items.items-table-name' | trans({}, 'main-page') }}</th>
                    <th>{{ 'found-items.items-table-category' | trans({}, 'main-page') }}</th>
                    <th>{{ 'found-items.items-table-date' | trans({}, 'main-page') }}</th>
                </tr>
                </thead>

                <tbody>
                {% for item in found_items %}
                    <tr>
                        <td id="list">
                            {% if item.areaType == 'marker' %}
                                <a id="item_{{ item.id }}"
                                   href="{{ item.link }}"
                                   data-date="{{ item.date|date('d/m/Y') }}"
                                   data-category-title="{{ item.categoryTitle }}"
                                   data-category-image="{{ item.categoryImage }}"
                                   data-area-type="{{ item.areaType }}"
                                   data-latitude="{{ item.latitude }}"
                                   data-longitude="{{ item.longitude }}">
                                    <b>{{ item.title }}</b>
                                </a>
                            {% else %}
                                <a id="item_{{ item.id }}"
                                   href="{{ item.link }}"
                                   data-date="{{ item.date|date('d/m/Y') }}"
                                   data-category-title="{{ item.categoryTitle }}"
                                   data-category-image="{{ item.categoryImage }}"
                                   data-area-type="{{ item.areaType }}"
                                   data-area="{{ item.area }}">
                                    <b>{{ item.title }}</b>
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ item.categoryTitle }}</td>
                        <td>{{ item.date|date('d/m/Y') }}</tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('js/list.js') }}"></script>
{% endblock javascripts %}
