{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock stylesheets %}

{% set title = 'Lost items' %}

{% block title %}{{ title }} | {{ parent() }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="btn-group" data-toggle="buttons">
            {% for category in categories %}
                <label class="btn btn-primary">
                    <input id="category_{{ category.title }}" data-category-id="{{ category.id }}" type="checkbox" autocomplete="off" />{{ category.title }}
                </label>
            {% endfor %}
    </div>
    <br>

    <div class="pull-right">
        <a href="{{ path('add_lost_item') }}" class="btn btn-danger" title="Add an item you've lost">
            I lost something :(
        </a>
    </div>

    <div class="pull-left">
        <ul id="items"></ul>
    </div>

    <div class="clearfix"></div>

    <div id="map" style="width: auto; height: 800px"></div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('js/lost_list.js') }}"></script>
{% endblock javascripts %}
