{% extends 'base.html.twig' %}

{%- if item.type == 'lost' -%}
    {% set title = 'Lost item' ~ ': ' ~ item.title %}
{%- elseif item.type == 'found' -%}
    {% set title = 'Found item' ~ ': ' ~ item.title %}
{%- endif -%}

{% block title %}{{ title }} | {{ parent() }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('js/map_item_details.js') }}"></script>
{% endblock javascripts %}

{% block content %}
    <article>
        <header>
            <h1>{{ title }}</h1>
        </header>

        <div>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <time datetime="{{ item.date|date('Y-m-d') }}">{{ item.date|date('d.m.Y') }}</time>
            &nbsp;
            Category: <span id="category">{{ item.category }}</span>
        </div>
        <br />

        <div class="panel panel-default">
            <div class="panel-body">
                {{ item.description }}
            </div>
        </div>

        <div>
            <a id="contact-with-author" href="" class="btn btn-success" title="Contact with author">
               Contact with author
            </a>
        </div>

        {#<blockquote>#}
            {#<p>{{ item.description }}</p>#}
        {#</blockquote>#}

        <div id="latitude" data-latitude="{{ item.latitude }}"></div>
        <div id="longitude" data-longitude="{{ item.longitude }}"></div>
        <div id="area" data-area="{{ item.area|json_encode }}"></div>
        <div id="areaType" data-area-type="{{ item.areaType }}"></div>
        <div id="itemId" data-item-id="{{ item.id }}"></div>
        <a id="facebook-profile" href="" class="btn btn-primary" style="display:none;" target="_blank">
            Author Facebook profile</a>

        <div id="map" style="width: auto; height: 800px"></div>


    </article>
{% endblock content %}
