{% extends 'base.html.twig' %}

{%- if item.type == 'lost' -%}
    {% set title = 'Lost item' ~ ': ' ~ item.title %}
{%- elseif item.type == 'found' -%}
    {% set title = 'Found item' ~ ': ' ~ item.title %}
{%- endif -%}

{% block title %}{{ title }} | {{ parent() }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}" type="text/css" media="screen" />
    {% stylesheets 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/jquery.fancybox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fancybox.pack.js') }}"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('js/map_item_details.js') }}"></script>

{% endblock javascripts %}

{% block content %}
    <article>
        <header>
            <h1>{{ title }}</h1>
        </header>

        <div>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <time datetime="{{ item.date|date('Y-m-d') }}">{{ item.date|date('d.m.Y') }}</time>
            &nbsp;
            Category: <span id="category">{{ item.category }}</span>
        </div>
        <br />

        <div class="panel panel-default">
            <div class="panel-body">
                {{ item.description }}
            </div>
        </div>

        {% if item.photos is not empty %}
            <h3>Photos</h3>
            <ul class="photos">
                {% for photo in item.photos %}
                    <li style="list-style-type: none; display: inline; padding: 10px;">
                        <a class="photo_group" href="{{ photo.imageName }}">
                            <img src="{{ photo.imageName }}" width="150" height="150">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            {% if request %}
                <div>
                    <a id="facebook-profile" href='https://www.facebook.com/{{ facebook }}' class="btn btn-primary" target="_blank">
                        Author Facebook profile</a>
                    {{ form_start(message_form) }}
                    {{ form_errors(message_form) }}
                    {{ form_end(message_form) }}
                </div>
            {% else %}
                <div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_end(form) }}
                </div>
                <a id="facebook-profile" href="" class="btn btn-primary" style="display:none;" target="_blank">
                    Author Facebook profile</a>
                <div style="display:none;" id="message">
                    {{ form_start(message_form) }}
                    {{ form_errors(message_form) }}
                    {{ form_end(message_form) }}
                </div>
            {% endif %}

        {% endif %}

        <div id="latitude" data-latitude="{{ item.latitude }}"></div>
        <div id="longitude" data-longitude="{{ item.longitude }}"></div>
        <div id="area" data-area="{{ item.area|json_encode }}"></div>
        <div id="areaType" data-area-type="{{ item.areaType }}"></div>
        <div id="itemId" data-item-id="{{ item.id }}"></div>
        <div id="map" style="width: auto; height: 800px"></div>


    </article>
{% endblock content %}
