{% extends 'base.html.twig' %}

{% block title %}
    Details |
    {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('js/map_item_details.js') }}"></script>
{% endblock javascripts %}

{% block content %}
    <h1>
        {%- if item.type == 'lost' -%}
            Lost
        {%- elseif item.type == 'found' -%}
            Found
        {%- endif -%}
        :
        {{ item.title }}
    </h1>
    <div>
        <time datetime="{{ item.date|date('Y-m-d') }}">Date {{ item.date|date('d.m.Y') }}</time> |
        Category: <span id="category">{{ item.category }}</span>
    </div>
    <br />

    <div class="well">
        {{ item.description }}
    </div>

    <div id="latitude" data-latitude="{{ item.latitude }}"></div>
    <div id="longitude" data-longitude="{{ item.longitude }}"></div>
    <div id="area" data-area="{{ item.area|json_encode }}"></div>
    <div id="areaType" data-area-type="{{ item.areaType }}"></div>

    <div id="map" style="width: auto; height: 800px"></div>
{% endblock content %}
