{% extends 'base.html.twig' %}

{% block title %}
    Profile |
    {{ parent() }}
{% endblock title %}

{% block content %}
    {# Flash messages #}
    {% for flashMessage in app.session.flashbag.get('update') %}
        <div class="flash-message">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">На головну</a>
    <br/>
    <a href="{{ path('user_lost_actual') }}">Lost items</a> | Found items
    <br/>
    Actual | <a href="{{ path('user_found_resolved') }}">Resolved</a>
    {% for item in ActualFoundItems %}
        <li>
            <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a> |
            <a href="{{ path('item_edit', {'id': item.id}) }}">Edit</a>
        </li>
    {% endfor %}
    <br />
{% endblock content %}