{% extends 'base.html.twig' %}

{% block title %}
    Profile |
    {{ parent() }}
{% endblock title %}


{% block content %}
    <a href="{{ path('homepage') }}">На головну</a>
    <br/>
    Lost items | <a href="{{ path('user_found_actual') }}">Found items</a>
    <br/>
    <a href="{{ path('user_lost_actual') }}">Actual</a> | Resolved
    {% for item in ResolvedLostItems %}
        <li>
            <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
        </li>
    {% endfor %}
    <br />
{% endblock content %}