{% extends 'base.html.twig' %}

{% block title %}
    Profile |
    {{ parent() }}
{% endblock title %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a href="{{ path('user_lost_actual') }}">Lost items</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Found items</a>
        </li>
    </ul>

    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="{{ path('user_found_actual') }}">Actual</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">Resolved</a>
        </li>
    </ul>

    {% for item in items %}
        <li>
            <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
        </li>
    {% endfor %}
{% endblock content %}
