{% macro actual_items_list(items) %}
    <table class="table table-bordered table-hover">
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
                    </td>
                    <td>
                        <a href="{{ path('item_edit', {'id': item.id}) }}">{{ 'profile.edit' | trans({}, 'main-page')}}</a>
                    </td>
                    <td>
                        <a href="{{ path('item_deactivate', {'id': item.id}) }}">{{ 'profile.deactivate' | trans({}, 'main-page')}}</a>
                    </td>
                    <td>
                        <a href="{{ path('user_item_requests', {'id':item.id}) }}">Requests</a>
                    </td>
                </tr>
            {% endfor %}
            <b></b>
        </tbody>
    </table>
{% endmacro actual_items_list %}

{% macro deactivated_items_list(items) %}
    <table class="table table-bordered table-hover">
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
                    </td>
                    <td>
                        <a href="{{ path('item_delete', {'id': item.id}) }}">{{ 'profile.delete' | trans({}, 'main-page')}}</a>
                    </td>

                    <td>
                        <a href="{{ path('item_activate', {'id': item.id}) }}">{{ 'profile.activate' | trans({}, 'main-page')}}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro deactivated_items_list %}

{% macro not_moderated_items_list(items) %}
    <table class="table table-bordered table-hover">
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
                    </td>
                    <td>
                        <a href="{{ path('item_edit', {'id': item.id}) }}">{{ 'profile.edit' | trans({}, 'main-page')}}</a>
                    </td>
                    <td>
                        <a href="{{ path('item_delete', {'id': item.id}) }}">{{ 'profile.delete' | trans({}, 'main-page')}}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro not_moderated_items_list %}

{% macro resolved_items_list(items) %}
    <table class="table table-bordered table-hover">
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ path('item_details', {'id': item.id}) }}">{{ item.title }}</a>
                    </td>
                    <td>
                        ToDo
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro resolved_items_list %}

{% macro active_tab(active_tab, count) %}
    <ul class="nav nav-tabs">
        <li role="presentation" {% if active_tab == 'lost_items' %}class="active"{% endif %}>
            {% if active_tab == 'lost_items' %}
                <a href="#">{{ 'profile.my-lost-items' | trans({}, 'main-page')}}{% if count.lost > 0 %}[{{count.lost}}]{% endif %}</a>
            {% else %}
                <a href="{{ path('user_actual_lost_items') }}">{{ 'profile.my-lost-items' | trans({}, 'main-page')}}{% if count.lost > 0 %}[{{count.lost}}]{% endif %}</a>
            {% endif %}
        </li>

        <li role="presentation" {% if active_tab == 'found_items' %}class="active"{% endif %}>
            {% if active_tab == 'found_items' %}
                <a href="#">{{ 'profile.my-found-items' | trans({}, 'main-page')}}{% if count.found > 0 %}[{{count.found}}]{% endif %}</a>
            {% else %}
                <a href="{{ path('user_actual_found_items') }}">{{ 'profile.my-found-items' | trans({}, 'main-page')}}{% if count.found > 0 %}[{{count.found}}]{% endif %}</a>
            {% endif %}
        </li>
        <li role="presentation" {% if active_tab == 'deactivated_items' %}class="active"{% endif %}>
            {% if active_tab == 'deactivated_items' %}
                <a href="#">{{ 'profile.my-deactivated-items' | trans({}, 'main-page')}}{% if count.notActive > 0 %}[{{count.notActive}}]{% endif %}</a>
            {% else %}
                <a href="{{ path('user_deactivated_items') }}">{{ 'profile.my-deactivated-items' | trans({}, 'main-page')}}{% if count.notActive > 0 %}[{{count.notActive}}]{% endif %}</a>
            {% endif %}
        </li>
        <li role="presentation" {% if active_tab == 'not_moderated_items' %}class="active"{% endif %}>
            {% if active_tab == 'not_moderated_items' %}
                <a href="#">{{ 'profile.my-not-moderated-items' | trans({}, 'main-page')}}{% if count.notModerated > 0 %}[{{count.notModerated}}]{% endif %}</a>
            {% else %}
                <a href="{{ path('user_not_moderated_items') }}">{{ 'profile.my-not-moderated-items' | trans({}, 'main-page')}}{% if count.notModerated > 0 %}[{{count.notModerated}}]{% endif %}</a>
            {% endif %}
        </li>
    </ul>
{% endmacro active_tab %}

{% macro active_pill(active_tab, active_pill) %}
    <ul class="nav nav-pills">
        <li role="presentation" {% if active_pill == 'actual' %}class="active"{% endif %}>
            {% if active_pill == 'actual' %}
                <a href="#">{{ 'profile.actual' | trans({}, 'main-page')}}</a>
            {% else %}
                {% if active_tab == 'found_items' %}
                    <a href="{{ path('user_actual_found_items') }}">{{ 'profile.actual' | trans({}, 'main-page')}}</a>
                {% elseif active_tab == 'lost_items' %}
                    <a href="{{ path('user_actual_lost_items') }}">{{ 'profile.actual' | trans({}, 'main-page')}}</a>
                {% endif %}
            {% endif %}
        </li>
        <li role="presentation" {% if active_pill == 'resolved' %}class="active"{% endif %}>
            {% if active_pill == 'resolved' %}
                <a href="#">{{ 'profile.resolved' | trans({}, 'main-page')}}</a>
            {% else %}
                {% if active_tab == 'found_items' %}
                    <a href="{{ path('user_resolved_found_items') }}">{{ 'profile.resolved' | trans({}, 'main-page')}}</a>
                {% elseif active_tab == 'lost_items' %}
                    <a href="{{ path('user_resolved_lost_items') }}">{{ 'profile.resolved' | trans({}, 'main-page')}}</a>
                {% endif %}
            {% endif %}
        </li>
    </ul>
{% endmacro active_pill %}
